/* Reset page */
* {
    padding: 0;
    margin: 0;
} 
/* let footer at below of page */
footer {
    width: 100%;
    height: 150px;
    position: absolute;
    padding: 13px;
    bottom: 0;
    background-color: rgb(7, 7, 63);
}
/* 
set section inline block but 
cancel centeried content of different 
height's content 
*/
section {
    display: inline-block;
    width: 25%;
    height: 150px;
    overflow: hidden;
}
/* 
remove white space between 
sections to prevent break down 
*/
section:not(#contact_us) {
    margin-right: -8px;
}

ul {
    margin-top: 12px;
}

ul li {
    list-style-type: none;
    padding-top: 5px;
}

section ul li a {
    text-decoration: none;
}

section h3,
section ul li a {
    text-transform: uppercase;
    color: azure;
} 